:root {
    --dot-font: 'DotGothic16', sans-serif;
    --fontSize-big: 50px;
    --grey: rgb(61, 61, 61);
    --light-grey: #c7c7c7;
    --black: #000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: var(--dot-font);
    letter-spacing: 0.5rem;
    color: var(--grey);
    text-align: center;
}

h1 {
    font-size: var(--fontSize-big);
    opacity: 0;
}

h2 {
    display: inline-block;
    width: 90%;
    max-width: 1000px;
    text-align: right;
    font-size: 30px;
    margin: 30px auto;
    margin-bottom: 0;
}

.line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, var(--grey) 50%, #fff 50%);
    background-size: 200% 100%;
}


/* 
背景画像 
===============================================*/

#index {
    height: 100vh;
    position: relative;
}

#back-img {
    /* 範囲 */
    z-index: -100;
    height: 100%;
    width: 60%;
    position: relative;
}

#back-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align:top;
}

.grad {
    position: absolute;
    inset: 0;
    transition: all 0.3s;
}
.light-grad {
    background: linear-gradient(90deg, #ffffff00, #ffffff00 30%, #ffffff 80%, #fff 100%);
}

.cover {
    background-color: #fff;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


/* 
本文 
================================================ */

.cont {
    position: absolute;
    inset: 0;
    height: 100%;
    /* background-color: aqua; */
}

#title {
    margin: 30vh auto 10vh;
}
#title p {
    opacity: 0;
}

#index-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#index-menu a {
    display: block;
    height: 60px;
    width: 60px;
    margin:  20px;
    position: relative;
    border: var(--grey) 4px solid;
    opacity: 0;
}

#index-menu div {
    height: 140%;
    width: 140%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 0, 0, 0.479); */
}

.illust, .code, .about {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: all 0.2s ease-out;
}

.illust {
    background-size: 55%;
    background-image: url(img/icon/pallet-1.png);
}
.code {
    background-size: 43%;    
    background-image: url(img/icon/code-1.png);
}
.about {
    background-size: 38%;    
    background-image: url(img/icon/me-1.png);
}

#index-menu a:hover .illust, 
#index-menu a:hover .code, 
#index-menu a:hover .about {
    top: 40%
}

.illust:before,
.code:before,
.about:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    filter:  contrast(0%) brightness(100);
    transition: all 0.4s;
}

.illust:before {
    top: -7%;
    left: -5%;
    background-image: url(img/icon/pallet-2.png);
    background-size: 40%;
}
.code:before {
    top: 5%;
    left: 0%;
    background-image: url(img/icon/code-2.png);
    background-size: 40%;
}
.about:before {
    top: 5%;
    left: 0%;
    background-image: url(img/icon/me-2.png);
    background-size: 20%;
}

#index-menu a:hover .illust:before,
#index-menu a:hover .code:before,
#index-menu a:hover .about:before {
    filter:  contrast(100%) brightness(100%);    
}

span.hukidasi {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.1rem;
    padding-top: 7px;
    background-image: url(img/icon/hukidasi.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 70px;
    width: 70px;
    transition: all 0.5s ease-out;
    opacity: 0;
}

#index-menu a:hover span.hukidasi {
    opacity: 1;
    top: -50%;
    height: 120px;
}


